# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
env/
venv/
ENV/

# Django
*.log
staticfiles/
media/
local_settings.py
db.sqlite3

# VSCode
.vscode/

# Byte-compiled
*.pyc

# Environment files
*.env
.env.*

# PyCharm
.idea/

# Migrations cache
*/migrations/__pycache__/
